<div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        სახელი
      </th>
      <th>
        გვარი
      </th>
      <th>
        დაბადების თარიღი
      </th>
      <th>
        პირადი ნომერი
      </th>
      <th>
        სქესი
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let student of currentStudents| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;">
        <td>
            {{student.firstName}}
        </td>
        <td>
           {{student.lastName}}
        </td>
        <td>
           {{student.doB| date: 'dd/LL/yyyy' }}
        </td>
        <td>
           {{student.pN}}
        </td>
        <td>
            {{student.genderName}}
        </td>
        <td>
            <button class="btn btn-secondary" [routerLink]="['/edit',student.id]">რედაქტირება</button>

            <button class="btn btn-danger" (click)="onStudentDelete(student.id)">წაშლა</button>
        </td>
    </tr>
    </tbody>
  </table>
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="currentStudents.length"></ngb-pagination>
</div>
